<div class="body" fxLayout="column" fxLayoutAlign="start center">
    <router-outlet></router-outlet>
</div>
<div type="button"(click)="closeNav()" id="close">
<mat-icon>close</mat-icon>
</div>
<div type="button"(click)="openNav()"id="open">
  <mat-icon>menu</mat-icon>
</div>
<div class="navbar" id="nav" fxLayoutAlign="space-evenly start"fxLayout="column">
  <a *ngFor="let x of box"class="navbarlink"[routerLink]="['/', x.route]"routerLinkActive="active"(click)="closeNav()">
    {{ x.name }}
  </a>
</div>
